# Auto detect text files and perform LF normalization
* text=auto
while True:
    # First Name
    nf = input("Enter the author's first name : ")
    # Last Name
    nl = input("Enter the author's last name : ")
	#Affiliation
	affiliation = input("Enter the authors affiliation : ")
    # Publication Date
    pm = input("Enter the Publication Month : ")
    py = int(input("Enter the Publication Year : "))
    num1 = int('3')
	num2 = int('10')
    result = py - num1
	y2 = py - num2
    # PubMed Search String
    print ("PubMed Search String : ")
    print ("((",nf," ",nl,"[Author]) AND ((",result,"/",pm,"/1[Date - Publication] : ",py,"/",pm,"/31[Date - Publication])))",sep="")
    print ("PubMed Search String with Affiliation : ")
    print ("((",nf," ",nl,"[Author]) AND ((",result,"/",pm,"/1[Date - Publication] : ",py,"/",pm,"/31[Date - Publication]))) AND ",affiliation,"[Affiliation]",sep="")
    # USPTO Search String
    print ("USPTO Search String : ")
    print ("IN/(",nl,"-",nf,") AND ISD/",pm,"/1/",y2,"->",pm,"/31/",py,sep="")
    cont = input("Press enter to create search strings for the next author next author. ")
    while cont.lower() not in ("y"):
        break